# ---------------
# RUNTIME SECTION
# ---------------

# auth
BETTER_AUTH_SECRET=

# secret for postmark email service
POSTMARK_SERVER_TOKEN=

# airtable
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=

# cron jobs
CRON_SECRET=


# ------------------
# BUILD-TIME SECTION
# ------------------
NEXT_PUBLIC_BETTER_AUTH_URL=
NEXT_PUBLIC_BUCKET_URL=